n8n-workflows/01-job-scraper.json
{"name":"Job Scraper - Visa Sponsored UK Jobs","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"schedule-trigger","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,300]},{"parameters":{"url":"https://api.adzuna.com/v1/api/jobs/gb/search/1","sendQuery":true,"queryParameters":{"parameters":[{"name":"app_id","value":"={{ $env.ADZUNA_APP_ID }}"},{"name":"app_key","value":"={{ $env.ADZUNA_APP_KEY }}"},{"name":"results_per_page","value":"50"},{"name":"what","value":"visa sponsorship"},{"name":"where","value":"london"},{"name":"salary_min","value":"25000"},{"name":"content-type","value":"application/json"}]},"options":{}},"id":"fetch-adzuna","name":"Fetch Adzuna Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"split-jobs","name":"Split Jobs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,300]},{"parameters":{"url":"https://api.adzuna.com/v1/api/jobs/gb/search/1","sendQuery":true,"queryParameters":{"parameters":[{"name":"app_id","value":"={{ $env.ADZUNA_APP_ID }}"},{"name":"app_key","value":"={{ $env.ADZUNA_APP_KEY }}"},{"name":"results_per_page","value":"50"},{"name":"what","value":"tier 2 sponsorship finance"},{"name":"where","value":"united kingdom"},{"name":"salary_min","value":"25000"},{"name":"content-type","value":"application/json"}]},"options":{}},"id":"fetch-adzuna-2","name":"Fetch Finance Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]},{"parameters":{"fieldToSplitOut":"results","options":{}},"id":"split-jobs-2","name":"Split Finance Jobs","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,460]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-jobs","name":"Merge All Jobs","type":"n8n-nodes-base.merge","typeVersion":3,"position":[900,380]},{"parameters":{"jsCode":"const job = $input.item.json;\nconst title = (job.title || '').toLowerCase();\nconst desc = (job.description || '').toLowerCase();\nconst company = (job.company?.display_name || '');\nconst salary_min = job.salary_min || 0;\nconst salary_max = job.salary_max || 0;\n\n// Score the job relevance for Yuvaraj (MBA Finance, HDFC Bank background, no UK exp)\nlet score = 50;\n\n// Finance/banking keywords boost\nconst financeKeywords = ['finance', 'banking', 'analyst', 'fintech', 'investment', 'credit', 'risk', 'accounting', 'financial', 'treasury', 'consulting', 'business analyst', 'data analyst'];\nfinanceKeywords.forEach(k => { if (title.includes(k) || desc.includes(k)) score += 5; });\n\n// Visa/sponsorship keywords boost\nconst visaKeywords = ['visa sponsorship', 'tier 2', 'skilled worker', 'sponsor', 'sponsorship available'];\nvisaKeywords.forEach(k => { if (title.includes(k) || desc.includes(k)) score += 10; });\n\n// No UK experience required\nconst noUKExpKeywords = ['no uk experience', 'international', 'global', 'worldwide', 'relocation', 'overseas'];\nnoUKExpKeywords.forEach(k => { if (desc.includes(k)) score += 8; });\n\n// Negative signals\nif (desc.includes('uk experience required') || desc.includes('must have uk experience')) score -= 30;\nif (desc.includes('senior') && !desc.includes('junior')) score -= 10;\nif (desc.includes('10+ years') || desc.includes('15+ years')) score -= 20;\n\n// Salary bonus\nif (salary_min > 30000) score += 5;\nif (salary_min > 45000) score += 10;\n\nscore = Math.min(100, Math.max(0, score));\n\nreturn {\n  external_id: job.id || String(Date.now()),\n  title: job.title,\n  company: company,\n  location: job.location?.display_name || 'UK',\n  description: (job.description || '').substring(0, 2000),\n  url: job.redirect_url,\n  salary_min: salary_min,\n  salary_max: salary_max,\n  source: 'adzuna',\n  visa_sponsored: title.includes('sponsor') || desc.includes('visa sponsor') || desc.includes('tier 2') || desc.includes('skilled worker'),\n  match_score: score,\n  status: 'new',\n  raw_data: job\n};\n"},"id":"score-job","name":"Score & Transform Job","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,380]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.match_score }}","rightValue":40,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"filter-score","name":"Filter High Score Jobs","type":"n8n-nodes-base.filter","typeVersion":2,"position":[1340,380]},{"parameters":{"method":"POST","url":"={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/jobs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"resolution=ignore-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ external_id: $json.external_id, title: $json.title, company: $json.company, location: $json.location, description: $json.description, url: $json.url, salary_min: $json.salary_min, salary_max: $json.salary_max, source: $json.source, visa_sponsored: $json.visa_sponsored, match_score: $json.match_score, status: $json.status }) }}","options":{}},"id":"save-to-supabase","name":"Save to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,380]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Fetch Adzuna Jobs","type":"main","index":0},{"node":"Fetch Finance Jobs","type":"main","index":0}]]},"Fetch Adzuna Jobs":{"main":[[{"node":"Split Jobs","type":"main","index":0}]]},"Split Jobs":{"main":[[{"node":"Merge All Jobs","type":"main","index":0}]]},"Fetch Finance Jobs":{"main":[[{"node":"Split Finance Jobs","type":"main","index":0}]]},"Split Finance Jobs":{"main":[[{"node":"Merge All Jobs","type":"main","index":1}]]},"Merge All Jobs":{"main":[[{"node":"Score & Transform Job","type":"main","index":0}]]},"Score & Transform Job":{"main":[[{"node":"Filter High Score Jobs","type":"main","index":0}]]},"Filter High Score Jobs":{"main":[[{"node":"Save to Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2024-01-01T00:00:00.000Z","versionId":"1"}
