n8n-workflows/02-resume-tailor.json
{"name":"Resume Tailor & Cover Letter Generator","nodes":[{"parameters":{"httpMethod":"POST","path":"tailor-resume","responseMode":"responseNode","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"method":"GET","url":"={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/jobs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"=eq.{{ $json.body.job_id }}"}]},"options":{}},"id":"get-job","name":"Get Job Details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300]},{"parameters":{"method":"GET","url":"={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/profiles","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"1"}]},"options":{}},"id":"get-profile","name":"Get User Profile","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,460]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"merge-data","name":"Merge Job & Profile","type":"n8n-nodes-base.merge","typeVersion":3,"position":[680,380]},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.OPENROUTER_API_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"HTTP-Referer","value":"https://job-agent-plum.vercel.app"},{"name":"X-Title","value":"Job Agent"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"model\": \"mistralai/mistral-7b-instruct:free\", \"messages\": [{\"role\": \"system\", \"content\": \"You are an expert UK job application specialist. You help candidates tailor their CV and write compelling cover letters for UK jobs requiring visa sponsorship. The candidate is Yuvaraj Kumar, MBA Finance & Analytics from Hult International Business School London, with 4 years experience at HDFC Bank in credit underwriting. He has no UK work experience but strong international finance background.\"},{\"role\": \"user\", \"content\": \"Job Title: {{ $json[0].title }}\\nCompany: {{ $json[0].company }}\\nJob Description: {{ ($json[0].description || '').substring(0, 1500) }}\\n\\nCandidate Profile:\\nName: {{ $json[1].full_name }}\\nHeadline: {{ $json[1].headline }}\\nSummary: {{ ($json[1].summary || '').substring(0, 800) }}\\n\\nPlease provide:\\n1. TAILORED RESUME SUMMARY (3-4 sentences highlighting relevant skills for this specific role)\\n2. KEY SKILLS TO HIGHLIGHT (bullet points matching job requirements)\\n3. COVER LETTER (professional, 3 paragraphs, addressing visa sponsorship naturally, showing international value)\\n\\nFormat your response as JSON with keys: resume_summary, key_skills (array), cover_letter\"}] }","options":{}},"id":"ai-generate","name":"AI Generate Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,380]},{"parameters":{"jsCode":"const response = $input.item.json;\nconst content = response.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  parsed = jsonMatch ? JSON.parse(jsonMatch[0]) : { resume_summary: content, key_skills: [], cover_letter: content };\n} catch(e) {\n  parsed = { resume_summary: content, key_skills: [], cover_letter: content };\n}\nreturn {\n  resume_summary: parsed.resume_summary || '',\n  key_skills: parsed.key_skills || [],\n  cover_letter: parsed.cover_letter || '',\n  generated_at: new Date().toISOString()\n};\n"},"id":"parse-response","name":"Parse AI Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,380]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"respond","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1340,380]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Job Details","type":"main","index":0},{"node":"Get User Profile","type":"main","index":0}]]},"Get Job Details":{"main":[[{"node":"Merge Job & Profile","type":"main","index":0}]]},"Get User Profile":{"main":[[{"node":"Merge Job & Profile","type":"main","index":1}]]},"Merge Job & Profile":{"main":[[{"node":"AI Generate Content","type":"main","index":0}]]},"AI Generate Content":{"main":[[{"node":"Parse AI Response","type":"main","index":0}]]},"Parse AI Response":{"main":[[{"node":"Send Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2024-01-01T00:00:00.000Z","versionId":"1"}
