n8n-workflows/03-application-tracker.json
{"name":"Application Tracker & Status Updater","nodes":[{"parameters":{"httpMethod":"POST","path":"track-application","responseMode":"responseNode","options":{}},"id":"webhook-track","name":"Track Application Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"jsCode":"const body = $input.item.json.body;\nconst action = body.action || 'create';\nreturn { action, job_id: body.job_id, status: body.status, notes: body.notes || '', applied_at: body.applied_at || new Date().toISOString() };\n"},"id":"parse-request","name":"Parse Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"check-action","name":"Is Create?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[680,300]},{"parameters":{"method":"POST","url":"={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/applications","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ job_id: $json.job_id, status: $json.status || 'applied', notes: $json.notes, applied_at: $json.applied_at }) }}","options":{}},"id":"create-application","name":"Create Application Record","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,220]},{"parameters":{"method":"PATCH","url":"={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/applications","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"job_id","value":"=eq.{{ $json.job_id }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ status: $json.status, notes: $json.notes, updated_at: new Date().toISOString() }) }}","options":{}},"id":"update-application","name":"Update Application Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,440]},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Application tracked successfully\"}","options":{"responseCode":200}},"id":"respond-success","name":"Respond Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,330]}],"connections":{"Track Application Webhook":{"main":[[{"node":"Parse Request","type":"main","index":0}]]},"Parse Request":{"main":[[{"node":"Is Create?","type":"main","index":0},{"node":"Update Application Status","type":"main","index":0}]]},"Is Create?":{"main":[[{"node":"Create Application Record","type":"main","index":0}]]},"Create Application Record":{"main":[[{"node":"Respond Success","type":"main","index":0}]]},"Update Application Status":{"main":[[{"node":"Respond Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"tags":[],"triggerCount":1,"updatedAt":"2024-01-01T00:00:00.000Z","versionId":"1"}
